<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if weather %}
					<h1> {{ weather }}</h1>
					<a href="{{ url_for('index') }}">Look up another address</a>
				{% else %}
					<h1>Hello!  Where do you live?</h1>
					<form action = "/" class = "form-inline">
						<div class = "form-group">
							<input type="text" name="address" placeholder = "City, State" class="form-control">
						</div>
						<input type="submit" value ="Submit" class = "btn
						btn-primary">
					</form>
				{% endif %}
				<a href = "{{url_for('about') }}">About this project</a>
			</div>
		</div>
	</body>
</html>
s